* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("ev-295467.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200;
  margin: 0;
  color: white;
  margin-top: 20px;
}

h1 {
  font-size: 150px;
  font-weight: 400;
  margin: 10px 0 15px 0;
  color: white;
}

.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

button {
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0 10px 0 10px;
  outline: none;
}

button:hover {
  background-color: white;
  opacity: 0.5;
}
